body {
    background-image: url("MakwMyTrip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
div{
    border: solid;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    

}
p{
    font-size: ;
}