*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background-image:url("MakwMyTrip.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

/* Header */

header{
    height:70px;
    background:rgba(0,0,0,.75);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:gold;
}


.container{
    width:90%;
    height:500px;

    background:white;
    margin:40px auto;

    border-radius:20px;
}



.menu{
    display:flex;
    justify-content:space-evenly;
    padding:30px;
}

.item{
    text-align:center;
    font-size:40px;
    cursor:pointer;
}

.item p{
    font-size:18px;
    margin-top:10px;
}

.item:hover{
    color:#007bff;
    transform:scale(1.1);
    transition:.3s;
}