body{
    /* color: aliceblue;
    background-image: url('./marvel.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */

     /* background: linear-gradient(
        to top,
        rgb(183, 131, 131),
        rgb(170, 170, 170),
        rgb(44, 17, 17)
    );  */
    background: radial-gradient(
    circle at bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
);

}

h2{
    color: black;
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    letter-spacing: normal;
}


p{
    font-size: xx-large;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-style: italic;
}