.class1{
    font-family: 'Courier New', Courier, monospace;
    /* border-style: solid ; */
    /* border-radius: 20px; */
    /* border-end-start-radius: 20px;
    border-start-end-radius: 20px; */

    /* border-color: red; */

    border-bottom: 5px dotted black;
    border-top: 5px dashed red;
    border-left: 5pe double violet;
    border-right: 5px blue;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px ;

}

h2{
    border: solid red;

    /* padding */

    /* padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 500px; */
    padding: 100px 150px;

    /* margin */

    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px; */

    margin: 505px 50px 505px 50px;
}
