nav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: black;
}


div{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
}

div:hover{
    background-color: gray;
    border-radius: 10px;
}

a{
    color: gold;
    text-decoration: none;
    display: flex;
    justify-content: center;

}