.loginSection{
    height: 90vhpx;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.loginContainer
{    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 500px;
    margin: 0px 150px;

}

.loginContainer button{

    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    width: 130px;
    border-radius: 10px ;
    box-shadow: 2px 2px 8px black;
    
}

.loginContainer button:hover{
    background-color: rgb(50, 50, 115);

}

.loginInfomation{
    padding: 20px;
    height: 700px;
    width: 700px;
    text-align: center;
    background-color: rgb(227, 224, 224);
    box-shadow: 2px 2px 10px;
    border-radius: 10px;

}

label{
    font-size: large;
    font-weight: 700;
    font-style: normal;   
}

input{
    box-shadow: 2px 2px 10px white;
}


form {
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(179, 179, 227)
    );
    border-radius: 10px;
    margin: auto;
    padding: 0px;
    box-shadow: 2px 2px 20px black;
    display: grid;
    grid-template-columns: 150px 250px;
    gap: 15px;
    width: 450px;
}

button{
    font-size: medium;
    background-color: rgb(44, 44, 220);
    color: white;
    border-radius: 10px;
}
button:hover{
    font-size: medium;
    background-color: rgb(28, 110, 10);
    color: black;
    border-radius: 10px;

}

h3{
    margin-bottom: 20px;
    font-size: x-large;
}

.registerContainer {
    display: grid;
    grid-template-columns: 150px 250px;
    gap: 15px 20px;
    align-items: center;

    width: 450px;
    padding: 25px;

    border-radius: 10px;
    box-shadow: 2px 2px 20px black;

    margin: 30px auto;
}

.registerContainer input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.registerContainer button {
    padding: 10px 20px;
    cursor: pointer;
}

/* Make buttons span both columns */
.registerContainer button {
    grid-column: span 2;
}

