*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 224, 224);
}
nav{
    background-color: black;
    text-decoration: none;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

nav:hover{
    background-color: white;
}
.div_a{
    text-decoration: none;
    color: gold;
}

.div_a:hover{

    color: black;
}

.fromBox{
    background-color: red;
    border: solid red;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    display: none;
}

#close{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: green;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;

}

.showform{
    display: block;
}