button{
    background-color: rgb(2, 4, 4);
    border-radius: 20px;
    color: white;
    height: 35px;
    width: 100px;
    font-size: large;
}

button:hover{
    background-color: rgb(218, 11, 11);
    color: black;
}

body{

    border: 3px solid black;
    border-radius: 20px;
    height: 100%;
}


    body:hover{
    background-color: aliceblue;
}

.secDiv{
    display: flex;
    align-items: center;
}

.secDiv div{
    margin: 20px;
}